/* NavBar Styling  */

.parent-div {
  display: flex;
  justify-content: space-between;
}

.second-nav-child {
  margin: 10px;
}

.signup {
  background-color: #108910;
  border-radius: 20px;
  border: none;
}